body {
    background: linear-gradient(135deg, #343434, #414141);
}

* {
    margin: 0;
    padding: 0;
}

.bilden {

    max-width: 7cm;
    border-radius: 20%;
    
 
}

.main {
    grid-column: 3 / 11;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    margin: 10px;
}

.firstauto {
    color: rgb(139, 136, 136);
}

h1 {
    text-shadow: 2px 2px 5px #000000;
}

.slogan {
    color: rgb(255, 149, 0);
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-icon {
    cursor: pointer;
    width: 50px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 0 0;
}

.menu-icon div {
    background-color: white;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #555;
    color: rgb(255, 149, 0);
    transition-duration: 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu-icon div {
    background-color: #ff9900;
}

header {
    grid-column: 12 / 13;
    margin: 20px;
    position: absolute;
    right: 1px;
}


.search-container {
    display: flex;
    justify-content: center;
    margin: 60px ;
}

.search-box {
  
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    
}

.search-btn {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.search-btn:hover {
    background-color: #d3d3d3;
}

.car-images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 26px;
    margin: 20px auto;
    max-width: 1100px;
    margin-bottom: 150px;
}

.car-box { 
    position: relative;
    background-color: gray;
    color: black;
    text-align: center;
    display: inline-block;
    width: auto;
    height: auto;    
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
   padding: 5px;
 
}
.car-box img {
    object-fit:fill;
    width: 100%;
    border-radius: 20px; 
    height: 100%;
}



  
.car-info {

    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color:rgba(18, 18, 19, 0.683);
    color:rgb(181, 174, 171);
    display: none;
    width: 100%;
    height: 35%;
    border-radius: 19px;
    
border-top-left-radius: 1px;
border-top-right-radius: 1px;
}
/* tyckte det var snyggare med texterna på varann */




.car-box:hover .car-info{
    display:block;
}


    

.snart {

text-align: center;
background-color: #ff99002e;
padding: 30px;
border-radius: 40px;
max-width:fit-content;
margin:0 auto;
margin-bottom: 2cm;
font-style: oblique;
margin-top: -3cm;
transition:  transform 3.3s;

}

.snart:hover {
    background-color: white;
    transform: scale(1.5); 
    
}

footer {
    display: flex;
    background-color: #2d2d2d;
    padding: 20px;
    text-align: center;
    grid-column: 1 / 13;
    justify-content: space-around;
}

.about-us, .social, .contact {
    margin: 10px;
}

.about-us {
    width: 33%;
    color: rgb(139, 136, 136);
    font-size: 16px;
    line-height: 1.5;
    font-family: monospace;

}

.social {
    color: rgb(139, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

}   

.social a {
    margin: 0 10px;
}

.social img {
    width: 40px;
    height: auto;
}

.contact {
    width: 33%;
    color: rgb(139, 136, 136);
    line-height: 3;
    font-family: monospace;
    font-size: 16px;


}





