body {
    background-color: #343434;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 20px auto;
}

.firstauto {
    font-size: 50px;
    color: chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.slogan {
    font-size: 18px;
    color: white;
    margin-top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none; 
    font-size: 18px;
}

.navbar a:hover {
    color: orange; 
    text-decoration: none; 
}
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.search-box {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.search-btn {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #d3d3d3;
}

.car-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.car-box {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
   position: relative;

}

.car-info {

    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.664);
    color:rgb(244, 241, 240);
    display: none;
    width: 100%;
    height: 60%;
    
    
}

.car-info p {
    display: inline-block;
    margin-right: 50px;
}



.car-box:hover .car-info {

display: block;

 

}


footer {
    background-color: #2d2d2d;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us, .social, .contact {
    margin: 10px;
}

.footer-content p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
}


@media (max-width: 767px) {
    .header {
        font-size: 30px; /* reduce font size further */
    }
    .search-container {
        flex-direction: column; /* stack search box and button vertically */
    }
    .search-box {
        width: 100%; /* make search box full-width */
    }
    .car-images {
        grid-template-columns: 1fr; /* single column layout */
    }
    .car-box {
        width: 100%; /* make car box full-width */
    }
    .footer-content {
        flex-direction: column; /* stack footer content vertically */
    }
}