form{
    width: 70%;
    height: 300px;
    border: 1px solid black;
    padding: 10px;

}

input[type=text],
input[type=vol],
input[type=tel],
input[type=email],
select[name=miltal],{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

textarea{
    height: 120px;
    width: 80%;
}