body {
    background: linear-gradient(135deg, #343434, #414141);
    font-family: monospace;
}

* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: 100%;
}

.main {
    grid-column: 3 / 11;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    margin: 10px;
}

.firstauto {
    color: rgb(139, 136, 136);
}

h1 {
    text-shadow: 2px 2px 5px #000000;
}

.slogan {
    color: rgb(255, 149, 0);
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-icon {
    cursor: pointer;
    width: 50px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 0 0;
}

.menu-icon div {
    background-color: white;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-family: monospace;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #555;
    color: rgb(255, 149, 0);
    transition-duration: 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu-icon div {
    background-color: #ff9900;
}

header {
    grid-column: 12 / 13;
    margin: 20px;
    position: relative;
}

.om-oss {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 400px 0 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    color: #E0E0E0;
}

.overall, .mission, .info {
    font-size: 20px;
    line-height: 1.5;
    padding: 15px;
    margin: 15px;
}

.overall {
    grid-column: 1 / 5;
}

.mission {
    grid-column: 5 / 9;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.info {
    grid-column: 9 / 13;
}

footer, .om-oss {
    background-color: #2d2d2d;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    grid-column: 1 / -1;
    margin-top: 110px;
}

.about-us, .contact {
    width: 33%;
    color: rgb(139, 136, 136);
    font-size: 16px;
    line-height: 2;
    font-family: monospace;
    margin: 10px;
}

.contact {
    line-height: 2.5;
}

.social {
    color: rgb(139, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.social a {
    margin: 0 10px;
}

.social img {
    width: 40px;
    height: auto;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact a:hover {
    color: rgb(255, 149, 0);
    transition: 0.3s;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .about-us, .contact {
        width: auto;
    }
    .om-oss, .main, .overall, .mission, .info {
        grid-column: 1 / 13;
    }
    .mission {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
    }

    .om-oss {
        margin-top: 100px;
    }
}

@media (min-width: 1200px) {
    .om-oss {
        margin-top: 99px;
    }
}
