body {
    background-color: #343434;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    margin: 200px auto;
}

.firstauto {
    color: white;
}

.slogan {
    color: orange;
}

.buy-sell {
    text-align: center;
    color: white;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: orange;
}

.buy-sell h1 {
    font-size: 50px;
    font-family: monospace;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.navbar li {
    position: relative;
}

.navbar a:hover {
    color: orange;
}